{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/base"
  ],
  "rules": {
    "import/extensions": 0,
    "global-require": 0,
    "eol-last": 0,
    "no-param-reassign": 0,
    "object-curly-newline": 0,
    "no-plusplus": 0,
    "no-undef": "off",
    "no-console": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}